
@{
    ViewBag.Title = "YeniKategori";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<form method="post">
        <label><b>Kategori Adı</b></label>
        <input type="text" name="ad" required="" maxlength="50" class="form-control"/>
    <br />
        <button class="btn btn-info">Kategori Ekle</button>
</form>